@import "all.min.css";

.fa-exclamation-triangle::before{
  color:darkred;
}

.fa-exclamation-circle::before{
  color:darkblue;
}

.footnote {
  font-size: var(--footer-font-size);
}

.imageblock.right{
  float: right;
  padding-left: 20px;
}

.imageblock.left{
  float: left;
  padding-right: 20px;
}

.quoteblock, .gebet {
  font-style: italic;
}
