{{- block "footer" . }}
<footer class="footer footer--main container metadata">
  <a href='{{ "impressum" |relURL}}'>Impressum</a> | <a href='{{ "datenschutz" |relURL}}'>Datenschutz</a> | <a href="https://github.com/cbergmann/krzwg.de/">Github</a> 
  <br />
  
  {{- with .Site.Copyright -}}
    {{ . }}
  {{- else -}}
    &copy; {{ now.Year }} {{- with .Site.Author }} {{ .name }}. {{- end }} <a href='{{ "" | relURL }}'>{{ .Site.Title }}</a> 
  {{- end -}}

  {{- if false -}}
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type">Familienkreuzweg Darmstadt Eberstadt</span> von <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Christiane & Clemens Bergmann</span> ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Namensnennung - Nicht kommerziell - Keine Bearbeitungen 4.0 International Lizenz</a>.
  {{- end -}}
</footer>
{{- end }}
